body {
  position: relative;
}

.header {
  background-image: url("../image/photo_2022-07-06_19-22-10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.address p{
  font-weight: 600;
}

.articles {
  border-radius: 12px;
  background-color: rgb(225, 225, 225);
}

