body {
  position: relative;
}

.header {
  background-image: url("../image/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}


.scale {
    transition: 3s;
}

.scale:hover {
    transform: scale(1.2); 
}

/* 
.carousel {
  &-inner {
    height: 200px;

    @media (screen and min-width: 576px) {
      height: 300px;
    }

    @media (screen and min-width: 768px) {
      height: 500px;
    }
  }

  &-item {
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center;
    }
  } */


